<!--
.body {
/*border-color: #999999*/
/*font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 3;*/
}

.title {
/*background-color: #FFFF99;*/
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: xx-small;
font-weight: bold;
}

.subtitle {
background-color: #00CC99;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: x-small;
font-weight: bold;
}

.linkforum {
/*background-color: #9999FF;*/
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: x-small;
color: #3399CC;
text-decoration: none;
/*font-weight: bold;*/
}

.forumdetails {
/*background-color: #CCCCFF;*/
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: xx-small;
}

.tablestyle {
background-color: #CCFFCC;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: xx-small;
}

.divstyle {
margin-left: 5;
margin-right: 5;
margin-bottom: 5;
margin-top: 5;
}

.blockcolor {
background-color: #00CC99;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: xx-small;
}

.menustyle {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: xx-small;
color: #3399CC;
text-decoration: none;
}

.menutable {
background-color: #CCFFCC;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: xx-small;
color: black;
}

.linktext {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: x-small;
color: #3399CC;
text-decoration: none;
}

.text {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: x-small;
color: black;
text-decoration: none;
font-weight: lighter;
}

.textsml {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: xx-small;
color: black;
text-decoration: none;
font-weight: lighter;
}
-->
